@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;500;700;800&display=swap');

:root{
    /* Font */
    --font-hanken-grotesk: 'Hanken Grotesk', sans-serif;

    /* Colors */

    /*Primary*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-red-bg: hsl(0, 100%, 67%, .1);
    --Orangey-yellow-bg: hsl(39, 100%, 56%, .1);
    --Green-teal-bg: hsl(166, 100%, 37%, .1);
    --Cobalt-blue-bg: hsl(234, 85%, 45%, .1);

    /*Gradients*/
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);

    --gradient-primary: linear-gradient(
        var(--Light-slate-blue-background), 
        var(--Light-royal-blue-background));    

    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);

    --gradient-secondary: linear-gradient(
        var(--Violet-blue-circle),
        var(--Persian-blue-circle));


    /*Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

main{
    width: 375px;
    height: 809px;
}

.main-container{
    font-family: var(--font-hanken-grotesk);
}

.main-result{
    width: 375px;
    height: 355px;
    margin-bottom: 13px;
    border-radius: 0 0 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: var(--gradient-primary);
}

.main-result h1{
    font-size: 18px;
    font-weight: 700;
    padding-top: 25px;
    color: var(--Light-lavender);
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 123px;
}

.result p{
    width: 260px;
    padding-bottom: 40px;
    color: var(--Light-lavender);
}

.result h2{
    color: var(--White);
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 143px;
    height: 143px;
    padding: 20px;
    border-radius: 50%;
    background-image: var(--gradient-secondary);
}

.circle span{
    font-size: 55px;
    font-weight: 800;
    padding-top: 5px;
    color: var(--White);
}

.circle p{
    padding-bottom: 5px;
    color: var(--Light-lavender);
}
.signs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summary{
    padding: 2.8vw 5vh 2.3vw 5vh;
}

.summary h2{
    font-size: 18px;
    padding-bottom: 15px;
}

.title{
    display: flex;
    align-content: flex-start;
}
.sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 315px;
    height: 55px;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;  
    padding: 15px;
    border-radius: 10px;  
}

.reaction,
.memory,
.verbal,
.visual{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.react{
    background-color: var(--Light-red-bg);
}

.reaction p {   
    color: var(--Light-red);
}

.mem{
    background-color: var(--Orangey-yellow-bg);
}

.memory p{
    color: var(--Orangey-yellow);
}

.verb{
    background-color: var(--Green-teal-bg);
}

.verbal p{
    color: var(--Green-teal);
}

.vis{
    background-color: var(--Cobalt-blue-bg);
}

.visual p{
    color: var(--Cobalt-blue);
}

.summary-score{
    font-weight: 800;
    color: var(--Dark-gray-blue);
}

.summary-score span{
    color: hsl(224, 30%, 27%, 0.5);
}

button a{
    color: var(--White);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

button{
    background-color: var(--Dark-gray-blue);
    border: none;
    width: 315px;
    height: 55px;
    margin-top: 20px;
    border-radius: 50px;
    
}

button:hover,
button:focus-visible{
    background-image: var(--gradient-primary);
}
.attribution{ 
    font-size: 11px; 
    text-align: center; 
    font-family: var(--font-hanken-grotesk);
    font-size: 12px;
    color: var(--Dark-gray-blue);
    
}
.attribution a{ 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    color: var(--Cobalt-blue);
}
